
.navbar{
    background-color: #1D3557;
}
body, html {
    height: 100%;
}

.jumbotron {
    min-height: 100%;
}
#car{
    min-height: 100%
}
#red{
    color: #E63946;
}
#about{
    background-color: #a8dadc;
}
#home {
    background-color: #a8dadc;
}
#portfolio{
    background-color: #a8dadc;
    text-align: center;
}
#contact{
    background-color: #a8dadc;
    
}
.display-1{
    font-family: 'Manrope', serif;
    color: #1D3557;
}
.display-4{
    text-align: center;
}
/* Progress bar animation */
.progress {
    margin-bottom: 20px;
    height: 50px;
    transition: unset;
}
.progress-bar {
    transition: unset;
    height: 50px;
}
.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
/* Scrolling effects */
.scroll{
    overflow-y: auto;
	height: 100px;
	margin-bottom: 0px;
    border: none;
    text-align: justify;
    font-size: 10px;
}
[class^="icon"] {
    width: 50px;
    height: 50px;
    position: relative;
    top: 15px;
    margin-right: 10px;
    fill: #F0EFEB;
  }
  
.bg{
    color: #E63946;
}
p{
    color: #1D3557;
}

.logo{
    width: 100px;
    height: 100px;
}

.imglogo{
  width: 50px;
}

@media only screen and (max-width: 375px){
    .display-1{
        font-family: 'Manrope', serif;
        color: #1D3557;
        font-size: 3rem;
    }
}